.main {
  background-color: #151d27;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.title {
  /* border: 1px solid white; */
  padding: 15px;
  color: white;
}

.leftfield {
  border: 1px solid grey;
  width: 20%;
  height:100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.menu {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profil {
  /* border: 1px solid white; */
  color: white;
  display: flex;
  justify-content: flex-start;
}

.profilfield{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.centerfield {
  border: 1px solid grey;
  width: 55%;
  height:100vh;
}

.inputfield {
  /* border: 1px solid white; */
  padding-left: 50px;
  min-height: 60px;
}

.inputfield > p {
  color: grey;
}

.newtweet {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  width: 90%;
  border: 0px;
  overflow-wrap: break-word;
}

.validfield {
  /* border: 1px solid white; */
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.rightfield {
  border: 1px solid grey;
  width: 25%;
  height:100vh;
}