.container {
     height: 93vh;
     overflow-y: scroll;
     scrollbar-width:none;
}

.trend {
    padding: 10px;
}

.title {
    color:white;
    font-size: 20px;
}

.nbtweets {
    color:#3d4854;
    font-size: 15px;
}