.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.profil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.message {
  display: flex;
  align-items: flex-start;
  color: white;
}

.like {
  color: white;
  cursor: pointer;
}

.like:hover {
  color: grey;
}